* {
    margin:0;
    padding:0;
}
.header {
height:5em;
background-color: rgb(255, 255, 255);
display: flex;
width: 100%;
position:fixed
}
.logo {
    width:4em;
    height:4em;
    padding:0.5em;
    padding-left:4em
}
.LogoContainer {
    width:50%;
}
.navItems {
    padding-left:10em;
}
.navItems> ul {
    display: flex;
    list-style-type: none;

}
.navItems>ul>li {
    margin:0.9em;
    padding:0.9em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Body {
    height:100em;
    background: #f1f1f1;
    padding:4em;
    padding-top:7em
}
.heading {
    font-size: 1.5em;
    font-weight: 600;
       width:90%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.category {
    height:15em;
    padding-bottom:1em;
    border-bottom: 1px solid #bebdbd;
}
.categoryImages {
    display: flex;
    margin-top: 1em;

}
.categoryImages >div {
    transition: transform 0.5s ease;
}
.res-container {
    height:auto;
    padding-top:2em;

    padding-bottom:2em;
    border-bottom:1px solid #bebdbd;
}
.res-card {
    width:18em;
    height:22em;
    border-radius:10%;
    margin:1em;

}
.restaurant {
    display: flex;
    flex-wrap: wrap;
  
   margin-top: 1em;
}
.res-image {
    width: 100%;
    height:60%;
   
  
  
}

.prev-next-buttons {
    display: flex;
    margin-left: 1em;

}
.slide-button  {
padding:0.7em;
    background-color: #fff;
    cursor: pointer;
}
.filter {
  width: 6em;
  height: 2em;
    background: #fff;
    border-radius: 0.7em;
    cursor: pointer;
   text-align: center;
   padding-top: 0.5em;
   font-size: 0.8em;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   border:1px solid #ddd;
  margin-left: 2em;

}
.options {
    display: flex;
    margin-top: 0.8em;
    padding-left: 1em;
}
#restSearch {
    width: 14em;
    height: 2.4em;
    background: #fff;
    outline: none;
    border: 1px solid #d5d3d3;
    padding-left: 3%;
    border-radius: 0.7em;
}
.shimmer_container {
    padding:1em;
    display: flex;
    flex-wrap: wrap;
}
.shimmer_card {
    width:18em;
    height:18em;
    border-radius:10%;
    margin:1em;
    background-color: #cac7c7;
}
.shimmerhead {
    margin-top: 1em;
    background-color: #cac7c7;
  height:2em;
  width: 14em;
}